<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Trainers</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <a href="main_page.html" class="logo">Coding School</a>
        <div class="header-right">
            <a href="courses.html">Courses</a>
            <a href="assignments.html">Assignments</a>
            <a href="students.html">Students</a>
            <a href="trainers.html">Trainers</a>
            <a href="#about">About</a>
        </div>
    </div>
    <div>
        <h1>Trainers</h1>
    </div>
    <!--  Dividing page in a row -->
    <div class="row">
        <!-- Dividing page in 2 columns -->
        <div class="column">
            <!-- Trainer Form -->
            <form onsubmit="event.preventDefault();onFormSubmit();">
                <div>
                    <label for="fname"><span>First Name<abbr title="Required field" aria-label="required">*</abbr></span></label>
                    <input type="text" id="fname" required>
                </div>
                <div>
                    <label for="lname"><span>Last Name<abbr title="Required field" aria-label="required">*</abbr></span></label>
                    <input type="text" id="lname" required>
                </div>
                <div class="form-action-buttons">
                    <input type="submit" class="btn-submit" value="Submit">
                </div>
            </form>
        </div>
        <!-- Dividing page in 2 columns -->
        <div class="column">
            <!-- Students Table -->
            <table class="trainers-table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Will be filled with user input though javascript -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
        <p>Copyrights</p>
    </div>
    <!-- Script -->
    <script type='text/javascript' src="/scripts/trainers_script.js"></script>
</body>
</html>